{% extends 'base.html.twig' %}
{% block body %}
   <link rel="stylesheet" href="{{ asset('CSS/Utilisateurs.css') }}">
    <title>Mofif Infos Persos</title>

    <!-- Body -->
        <h1 class="TitreModifInfosPersos">Modifier mes informations personnelles</h1>
    <div class="FormulaireModifInfos">
            {{form(form)}}
    </div>

{% endblock %}