{% extends 'base.html.twig' %}
    {% block title %}Connexion{% endblock %}
{% block body %}
 <link rel="stylesheet" href="{{ asset('CSS/utilisateurs.css') }}">

<div class="formulaireconnexion">
    <form method="post">


        <h1>Se connecter</h1>
<div class="EmailConnexion">
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="" autocomplete="email" required autofocus>
</div>
<div class="MdpConnexion">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="" autocomplete="current-password" required>
       
</div>


        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >
        <div class="connexion">
        <button class="" type="submit">
       Se connecter
        </button>
        </div>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
</div>

{% endblock %}

