<footer class="mt-4 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    <small class="text-muted">FranceModelisme - Tous droits réservés - 2025</small>
                </p>
                <a class="titre_contact" href="">Contactez-nous</a>
            </div>
        </div>
    </div>
</footer>