<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0E2E45;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href={{path('acceuil_index')}}>Le Monde du Rail</a>

    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
            {% include 'partials/_nav.html.twig' %}
        </div>
    </div>
</nav>
