  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href={{path('acceuil_index')}}>Accueil</a> {# redirection vers l'acceuil #}
        </li>
{#  #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown">
            Nos produits
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #0E2E45;">
            <li><a class="dropdown-item text-white"href={{path('acceuil_index')}}>Les matériels roulants</a></li>
            <li><a class="dropdown-item text-white" href="#">Les locomotives</a></li>
            <li><a class="dropdown-item text-white" href="#">Les voitures de voyageurs</a></li>
            <li><a class="dropdown-item text-white" href="#">Les automotrices</a></li>
            <li><a class="dropdown-item text-white" href="#">Les wagons de fret</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Tailles existantes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Les Voies</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#">Les Infrastructures Ferroviaires</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Liste des utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Liste des produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Déconnexion</a>
          </li>
        {% elseif is_granted('ROLE_USER') %}
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Mon compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Mon panier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Déconnexion</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light me-2" href="#">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light text-primary" href="#">S'inscrire</a>
          </li>
        {% endif %}
      </ul>