{% extends 'base.html.twig' %}

{% block title %}Modifier Produit{% endblock %}

{% block body %}
<h1>Modifier le produit</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Mettre à jour</button>
{{ form_end(form) }}

<a href="{{ path('Administrateur_ListeProduits') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
{% endblock %}
