/* Page Autorails */
    /* Titre de la Page */
    h1{
        text-align: center;
        text-decoration: underline;
        padding: 20px 0px 20px 0px;
    }
    /* Fin Titre Page */

    /* Autorails Haut */
        /* classe des 2 images en haut de la page */
        .AutorailsHaut{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 50px;
        }
    /* Taille HO */
        /* Id image AutorailsHO */
        #AutorailsHO{
            width: 70%;
            height: auto;
        }
        /* Classe AutorailsHO*/
        .AutorailsHO{
            padding-right: 140px;
        }
    /* Fin Taille HO */

    /* Taille N */
        /* Id image AutorailsN*/
        #AutorailsN{
            width: 90%;
            height: auto;
        }
    /* Fin Taille N */

    /* Taille G */
        /* Id image AutorailsG*/
        #AutorailsG{
            width: 90%;
            height: auto;
        }

        /* Classe AutorailsG */
        .AutorailsG{
            padding-left: 200px;
        }
        .AutorailsG p{
            margin-left: 39%;
            padding-bottom: 20px;
        }
    /* Fin Autorails Taille G */

    /* Paragraphes de la page */
    p{
        font-size: 20px;
        font-weight: bold;
    }
    /* Fin Paragraphes */
/* Fin Page Autorails */