
    #carousel-container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        padding-top: 4%;
      }
  
      #carousel {
        display: flex;
        transition: transform 0.5s linear;
      }
  
      .carousel-item {
        min-width: 100%;
      }
  

      #prev-btn, #next-btn {
        cursor: pointer;
        font-size: 24px;
        background: #333;
        color: #fff;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-left: 70px;
      }
      .bouton{
        padding-bottom: 2%;
        padding-left: 10%;
      }