/* Page Contact */
    /* Titre du Formulaire */
        h1{
            text-decoration: underline;
            margin-top: 5%;
        }
    /* Fin Titre du Formulaire */

    /* Formulaire de contact */
        /* Classe pour tous le formulaire */
        .FormulaireContact{
        border: 5px solid black;
        border-radius: 10px;
        width: 30%;
        height: auto;
        margin: 10% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
        /* classe pour tous les inputs */
        .formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }


        /* Input Sujet */
            /* Id input Sujet */
            #Sujet{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            /* Classe Input + label Sujet*/
            .Sujet{
                padding-bottom: 15px;
                padding-top: 30px;
            }
        /* Fin Input Sujet */

        /* Input Fichier */
            /* Id Input Fichier */
            #Fichier{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            /* Classe Input + label Fichier */
            .Fichier{
                padding-bottom: 15px;
            }
        /* Fin Input Fichier */

        /* Input Email */
            /* Id input Email */
            #Email{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
            /* Classe Input + label Email*/
            .Email{
                padding-bottom: 15px;
            }
        /* Fin Input Email */

        /* Input Message */
            /* Id input Message */
            #Message{
                width: 300px;
                height: 130px;
                display: flex;
                flex-direction: column;
            }
            /* Classe Input + label Message */
            .Message{
                padding-bottom: 15px;
            }
        /* Fin Input Message */
        /* Boutton Envoyer */
            .BouttonContact{
                margin-bottom: 10%;
            }
        /* Fin Boutton Envoyer */
    /* Fin Formlaire */
/* Page Contact */