/* Page Detail produit */
    /* Titre de la page */
        h1{
            text-align: center;
            margin-top: 20px;
            text-decoration: underline;
        }
    /* Fin de Titre de la page */

    /* Boutton retour a la liste des produits */
        .Retour a{
            color: black;
            text-decoration: none;
        }
        .Retour{
            border: 2px solid black;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 15%;
            height: auto;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 40px auto;
        }
    /* Fin Boutton Retour */

    /* Boutton Modifier */
        .Modifier a{
            color: black;
            text-decoration: none;
        }
        .Modifier{
            border: 2px solid black;
            margin-top: 10px;
            margin-bottom: 10px;
            width: 10%;
            height: auto;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 40px auto;
        }
    /* Fin Boutton Modifier */

    /* Boutton Supprimer */
        .Supprimer{
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 40px auto;
        }
        .btn_supprimer{
            width: 10%;
            height: auto;
        }
    /* Fin Boutton Supprimer */

    /* cadre du details du produit*/
        .details_produit{
            width: 25%;
            margin: 5% auto;
            border: 5px solid black;
            padding: 8px;
            justify-content: center;
            text-align: center;
            align-items: center;
            border-radius: 10%;
        }
        .details_produit p{
            margin-bottom: 10%;
            margin-top: 10%;
        }
    /* Fin du cadre du detail du produit */
/* Page Produit */