.footer {
  background-color: #0E2E45; /* couleur de fond du footer */
  padding: 20px 10px;
   margin-top: auto; /* colle le footer en bas si la page est courte */
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 10px;
}
/* liens du footer */
.footer-links a {
  color: white; /* couleur du texte */
  text-decoration: none; /* pas de soulignage */
  font-size: 14px; /* taille du texte */
}

html, body {
  height: 100%;
  margin: 0; /* important pour éviter les marges par défaut */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* prend toute la hauteur dispo */
}


