/* Page Modif Infos */
        /* Titre de la page */
            h1{
                text-align: center;
                text-decoration: underline;
                margin-top: 2%;
            }
        /* Fin Titre de la page */

    /*Formulaire Modif Infos Users  */
        /* Classe du formulaire modif infos */
            .FormulaireModifInfos{
                border: 5px solid black;
                border-radius: 10px;
                width: 25%;
                height: auto;
                margin: 40px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        /* Fin Classe du formulaire modif infos */

        /* Toutes les div presentes dans la div classe = FormulaireModifInfos */
            .FormulaireModifInfos div{ 
                margin-top: 10%;
                margin-bottom: 5%;
            }
        /* Fin Toutes les div presentes dans la div classe = FormulaireModifInfos */

        /* Input Nom */
            .Nom{
                width: 90%;
                height: auto;
            }
        /* Fin Input Nom */

        /* Input Prenom */
            .Prenom{
                width: 90%;
                height: auto;
            }
        /* Fin Input Prenom */

        /* Input Email */
            .Email{
                width: 90%;
                height: auto;
            }
        /* Fin Input Email */

        /* Input Adresse */
            .Adresse{
                width: 90%;
                height: auto;
            }
        /* Fin Input Adresse */

        /* Input Code Postale */
            .Code_Postale{
                width: 90%;
                height: auto;
            }
        /* Input Code Postal */

        /* Input Ville */
            .Ville{
            width: 90%;
            height: auto;
            }
        /* Fin input Ville */

        /* Input Telephone */
            .Telephone{
                width: 90%;
                height: auto;
            }
        /* Fin input Telephone */
    /* Fin Formulaire Modif Infos persos */
/* Fin Page Modif Infos */