body {
    margin: 0;
}

/* Barre de navigation */

 .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #154364; /* couleur de fond de la barre de nav */
  color: white; /* couleur du texte de la barre de nav et du menu deroulant */
}
.navbar-nav .nav-item {
  margin-left: 1rem; /* espace d'environ 16px entre les liens de la barre de nav */
  margin-right: 1rem;
}


/* Fin de la barre de nav */