body {
    margin: 0;
}

/* Barre de navigation */

 .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #154364; /* couleur de fond de la barre de nav */
  color: white; /* couleur du texte de la barre de nav et du menu deroulant */
}
.navbar-nav .nav-item {
  margin-left: 1rem; /* espace d'environ 16px entre les liens de la barre de nav */
  margin-right: 1rem;
}
/* Forcer le burger en blanc */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Si tu veux aussi changer la bordure du bouton (par défaut grise) */
.navbar-toggler {
  border-color: rgb(255, 255, 255);
}





/* Fin de la barre de nav */

/* NavBar Compte Utilisateurs / Administrateur */
.navbar-compte .nav-link {
  color: white;
}

.navbar-compte .nav-link:hover {
  background-color: #154364; /* même effet que ta 1ère navbar */
  color: white;
}

.navbar-compte .nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}
/* Fin NavBar Compte Utilisateur / Administrateur */