/* Page d'inscription */
    /* Titre du Formulaire */
        h1{
            text-decoration: underline;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    /* Fin Titre du Formulaire */

    /* Classe pour tous le formulaire */
        .FormulaireInscription{
            border: 5px solid black;
            border-radius: 10px;
            width: 25%;
            height: auto;
            margin-left: 37% ;
            margin-top: 2%;
            margin-bottom: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    /* Fin classe pour tous le formulaire */

    /* Formulaire d'inscription */
        #inscription_utilisateur_form div{
            margin-top: 7%;
            margin-bottom: 10%;
        }
        /* classe pour tous les inputs */
        .formulaire{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        /* Input Nom */
            .Nom{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }       
        /* Fin Input Nom */

        /* Input Prenom */
            .Prenom{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        /* Fin Input Prenom */

        /* Id Input Adresse */
            .Adresse{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        /* Fin Input Adresse */

        /* Id Input Code Postal */
            .CodePostal{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        /* Fin Input Code Postal */

        /* Id Input Ville */
            .Ville{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        /* Fin Input Ville */

        /* Id Input Telephone */
            .Telephone{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        /* Fin Input Telephone */
        
        /* Input Email */
            .Email{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        /* Fin Input Email */

        /* Input MotDePasse */
            .Mdp{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        /* Fin Input Mot de passe */

        /* Choix Roles */
            .role{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }
        /* Fin Choix Roles */

        /* Boutton inscription */
            .inscription{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
        /* Fin bouton d'inscription */
    /* Fin Formulaire d'inscription */
/* Fin Page d'inscription */