/* Liste des utilisateurs */
    /* Titre de la page */
        h1{
            text-align: center;
            margin-top: 20px;
            text-decoration: underline;
        }
    /* Fin titre de la page */

    /* Tableau */
        /* lien du tableau */
            table a{
                color: black;
                text-decoration: none;
            }
        /* Fin lien du tableau */
        
        .liste_utilisateurs{
            width: 75%;
            border-collapse: collapse;
            margin: 5% auto;
        }
        .liste_utilisateurs th, .liste_utilisateurs td{
            border: 2px solid black;
            padding: 8px;
            text-align: left;
        }
        .liste_utilisateurs th{
            background-color:#f2f2f2;
            color: #333333;
        }
        /* Boutton d'ajout */
            .NouveauProduit a{
                color: black;
                text-decoration: none;
            }
            .NouveauProduit{
                border: 2px solid black;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 10%;
                height: auto;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 40px auto;
            }
        /* Fin boutton d'ajout */
    /* Fin Tableau */
/* Fin Liste des utilisateurs */