/* Locomotive electrique => Page avec les 4 tailles dispos */
    /* Titre de la Page */
        h1{
            text-align: center;
            text-decoration: underline;
            padding: 10px 0px 10px 0px;
        }
    /* Fin Titre de la page */

    /* LocoELec Haut */
        .LocoElecHaut{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 60px;
            padding-top: 60px;
        }
        /*  LocoElecTailleHO */
            #LocoElecTailleHO{
                width: 70%;
                height: auto;
            }
            .LocoElecTailleHO{
                padding-left: 10%;
                padding-right: 5%;
            }
        /* Fin LocoElec Taille HO */

        /* LocoElecTailleZ*/
            #LocoElecTailleZ{
                width: 50%;
                height: auto;
            }

            .LocoElecTailleZ{
                padding-right: 220px;
            }
        /* Fin LocoElec TailleZ */
    /* Fin Loco Elec Haut */

    /* LocoElec Bas */
        .LocoElecBas{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 80px;
        }

        /* LocoElecTailleN */
            #LocoElecTailleN{
                width: 55%;
                height: auto;
            }
            .LocoElecTailleN{
                padding-left: 105px;
                padding-right: 290px;
            }
        /* Fin LocoElec Taille N */

        /* LocoElecTailleG*/
            #LocoElecTailleG{
                width: 50%;
                height: auto;
            }
        /* Fin LocoElec TailleG */
    /* Fin Loco Elec Bas */
/* Fin Page LocoElec Avec les 4 Tailles */