/* Page LocoVapeur */
    /* Titre de la Page */
        h1{
            text-align: center;
            text-decoration: underline;
            padding: 20px 0px 15px 0px;
        }
    /* Fin Titre de la Page */
    
    /* LocoVapeur Haut */
        .LocoVapeurHaut{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 5%;
            padding-top: 5%;
        }

        /* LocoVapeurTailleHO */
            #LocoVapeurTailleHO{
                width: 40%;
                height: auto;
            }
            .LocoVapeurTailleHO{
                padding-left: 10%;
                padding-right: 10%;
            }
        /* Fin LocoVapeur Taille HO*/

        /* LocoVapeurTailleZ*/
            #LocoVapeurTailleZ{
                width: 50%;
                height: auto;
            }
            .LocoVapeurTailleZ{
                padding-right: 10%;
            }
            
        /* LocoVapeur Taille Z */
    /* Fin LocoVapeur Haut */

    /* Loco Vapeur Bas*/
        .LocoVapeurBas{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 5%;
        }
        /* LocoVapeurTailleN */
            #LocoVapeurTailleN{
                width: 50%;
                height: auto;
            }
            .LocoVapeurTailleN{
                padding-left: 10%;
            }
        /* Fin LocoVapeur Taille N */

        /* LocoVapeurTailleG*/
            #LocoVapeurTailleG{
                width: 50%;
                height: auto;
            }
        /* Fin Loco Vapeur Taille G */
    /* Loco Vapeur Bas*/
/* Fin Page Loco Vapeur */