/* Page Modif Users */
    /* Titre de la page */
        h1{
            text-align: center;
            text-decoration: underline;
            margin-top: 2%;
        }
    /* Fin titre de la page */

    /* Cadre Modif */
        #modif_utilisateur_form div {
            margin-top: 10%;
            margin-bottom: 5%;
        }
        #modif_utilisateur_form{
            border: 5px solid black;
            border-radius: 10%;
            width: 25%;
            height: auto;
            margin: 40px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        /* Input Nom */
            .Nom{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Nom */

        /* Input Prenom */
            .Prenom{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Prenom */

        /* Input Email */
            .Email{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Email */

        /* Input Adresse */
            .Adresse{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Adresse */

        /* Input CodePostal */
            .CodePostal{
                width: 100%;
                height: 100%;
            }
        /* Fin Input CodePostal */

        /* Input Ville */
            .Ville{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Ville */
        /* Input Telephone */
            .Telephone{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Telephone */

        /* Input Role */
            .Role{
                width: 100%;
                height: 100%;
            }
        /* Fin Input Role */
    /* Fin Cadre modif */

        /* Boutton modifier */
            .modifier{
                margin-top: 10px;
                margin-bottom: 10px;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 40px auto;
            }
            .btn{
                width: 10%;
                height: auto;
            }
        /* Fin boutton modifier */

        /* boutton supprimer */
            .btn_supprimer{
                width: 10%;
                height: auto;
            }
            .Supprimer{
                margin-top: 10px;
                margin-bottom: 10px;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 40px auto;
            }
        /* Fin boutton supprimer */

        /* Lien retour a la liste des utilisateurs */
            .Retour a{
                color: black;
                text-decoration: none;
            }
            .Retour{
                border: 2px solid black;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 15%;
                height: auto;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin: 40px auto;
            }
        /* Fin lien retour a la liste des utilisateurs */
/* Fin Page modif utilisateurs */