/* Page Compte Utilisateurs */
    /* Titre de la page */
        h1{
            text-align: center;
            padding: 2%;
            text-decoration: underline;
        }
    /* Fin Titre de la page */

    /* Compte Haut */
        .CompteHaut{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            padding-bottom: 50px;
            padding-top: 10px;
        }
        /* InfosPersos */
            .InfosPersos{
                margin-right: 30%;
            }
            #InfosPersos{
                width: 60%;
                height: auto;
            }
        /* Fin Infos Persos */

        /* Formulaire de Retractation */
            #Retractation{
                width: 60%;
                height: auto;
            }
            .Retractation{
                margin-right: 25%;
            }
        /* Fin Formulaire de retractation */
    /* Fin Compte Haut */

    /* Compte Bas */
        .CompteBas{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            padding-bottom: 50px;
            margin-left: 269px;
        }

        /* Modes et délais de livraison */
            #Paiement{
                width: 60%;
                height: auto;
            }
        /* Fin Modes et délais de livraison */

        /* Conditions de Remboursemnts */
            #Remboursement{
                width: 55%;
                height: auto;
            }
            .Remboursement{
                margin-right: 20%;
            }
        /* Fin Conditions Remboursement */
    /* Fin Compte Bas */
/* Fin Page Mon Compte Utilisateurs */