/* Page Nouveautés */
    /* Titre de la page */
        h1{
            text-align: center;
            padding-bottom: 10px;
            padding-top: 10px;
            text-decoration: underline;
        }
    /* Fin Titre de la page */

    /* Nouveautes */
        .nouveautes{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            padding-bottom: 5%;
            padding-top: 5%;
        }
        /* WagonsFret */
            .NewWagonFret{
                margin-right: 5%;
            }
            #NewWagonFret{
                width: 90%;
                height: auto;
            }
        /* Fin Wagons Fret */

        /* Voitures Voyageurs */
            #NewVoitureVoyageurs{
                width: 90%;
                height: auto;
            }
        /* Fin Voitures Voyageurs */
    /* Fin Nouveautés */
/* Fin Page Nouveautés */