/* Page Produits Locomotives */
    /* Titre des pages */
        /* Classe pour le titre et le texte */
            .titre{
                display: flex;
                flex-direction: row;
            }
        /* lien de la div classe titre */
            .titre a{
                padding-right: 25%;
                padding-left: 5%;
                padding-top: 1%;
                color: black;
                text-decoration: none;
            }
        /* Titre de la page */
            h1{
                text-decoration: underline;
                padding-top: 2%;
            }
    /* Fin Titre des pages */

    /* Page Produit LocomotiveVapeur */
        /* Taille HO LocoVapeur*/
            /* Images */
                /* Id Image LocoVapeurTailleHOVue1 */
                    #LocoVapeurTailleHOVue1{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleHOVue2 */
                    #LocoVapeurTailleHOVue2{
                        width: 50%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleHOVue3 */
                    #LocoVapeurTailleHOVue3{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleHOVue4 */
                    #LocoVapeurTailleHOVue4{
                        width: 20%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleHOVue5 */
                    #LocoVapeurTailleHOVue5{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */

            /* Texte de droite  */
                /* classe de la div pour l'image et le texte */
                    .droiteHOVapeur{
                        padding-left: 50%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteHOVapeur a{
                        color: black;
                    }
            /* Fin Texte de droite */

            /* Description */
                /* classe de la div pour la description du produit */
                    .descriptionHOVapeur{
                        border: 5px black solid;
                        padding-left: 2%;
                        padding-top: 1%;
                        width: 65%;
                        height: auto;
                        margin: 5% auto;
                    }
                /* classe de la div de la description du produit en ciblant le paragraphe */
                    .descriptionHOVapeur p{
                        font-size: 24px;
                    }
            /* Fin Description */
        /* Fin Taille HO */
        
        /* Taille Z LocoVapeur*/
            /* Images */
                /* Id Image LocoVapeurTailleZVue1 */
                    #LocoVapeurTailleZVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleZVue2 */
                    #LocoVapeurTailleZVue2{
                        width: 35%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleZVue3 */
                    #LocoVapeurTailleZVue3{
                        width: 45%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleZVue4 */
                    #LocoVapeurTailleZVue4{
                        width: 25%;
                        height: auto;
                    }
            /* Fin Images */

            /* Texte de droite */
                /* classe de la div pour l'image et le texte */
                    .droiteZVapeur{
                        padding-left: 50%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteZVapeur a{
                        color: black;
                    }
            /* Fin Texte de droite */

            /* Description */
                /* classe de la div pour la description du produit */
                    .descriptionZVapeur{
                        border: 5px black solid;
                        padding-left: 2%;
                        padding-top: 1%;
                        width: 70%;
                        height: auto;
                        margin: 5% auto;
                    }
                /* classe de la div de la description du produit en ciblant le paragraphe */
                    .descriptionZVapeur p{
                        font-size: 24px;
                    }
            /* Fin Description */
        /* Fin Taille Z */

        /* Taille N LocoVapeur*/
            /* Images */
                /* Id Image LocoVapeurTailleNVue1 */
                    #LocoVapeurTailleNVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleNVue2 */
                    #LocoVapeurTailleNVue2{
                        width: 25%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleNVue3 */
                    #LocoVapeurTailleNVue3{
                        width: 50%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleNVue4 */
                    #LocoVapeurTailleNVue4{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */
            
            /* Description */
                .descriptionNVapeur{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 70%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionNVapeur p{
                    font-size: 24px;
                }
            /* Fin Description */

            /* Texte de droite */
                /* classe de la div pour l'image et le texte */
                    .droiteNVapeur{
                        padding-left: 50%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteNVapeur a{
                        color: black;
                    }
            /* Fin Texte de Droite */
        /* Fin Taille N */
        
        /* Taille G LocoVapeur*/
            /* Images */
                /* Id Image LocoVapeurTailleGVue1 */
                    #LocoVapeurTailleGVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleGVue2 */
                    #LocoVapeurTailleGVue2{
                        width: 35%;
                        height: auto;
                    }
                /* Id Image LocoVapeurTailleGVue3 */
                    #LocoVapeurTailleGVue3{
                        width: 35%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionGVapeur{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionGVapeur p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Loco Vapeur */

    /* Page Produit Locomotive Diesel */
        /* Taille HO Locomotive Diesel*/
            /* Images */
                /* Id Image LocoDieselTailleHOVue1 */
                    #LocoDieselTailleHOVue1{
                        width: 25%;
                        height: auto;
                    }
                /* Id Image LocoDieselTailleHOVue2 */
                    #LocoDieselTailleHOVue2{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image LocoDieselTailleHOVue3 */
                    #LocoDieselTailleHOVue3{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionHODiesel{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 60%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionHODiesel p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille HO */

        /* Taille Z Locomotive Diesel*/
            /* Images */
                /* Id Image LocoDieselTailleZVue1 */
                    #LocoDieselTailleZVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoDieselTailleZVue2 */
                    #LocoDieselTailleZVue2{
                        width: 40%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionZDiesel{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionZDiesel p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille Z */

        /* Taille N Locomotive Diesel*/
            /* Images */
                /* Id Image LocoDieselTailleNVue1 */
                    #LocoDieselTailleNVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoDieselTailleNVue2 */
                    #LocoDieselTailleNVue2{
                        width: 40%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionNDiesel{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionNDiesel p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille N */

        /* Taille G Locomotive Diesel*/
            /* Images */
                /* Id Image LocoDieselTailleGVue1 */
                    #LocoDieselTailleGVue1{
                        width: 30%;
                        height: auto;
                    }
                    .LocoDieselTailleG{
                        display: flex;
                        flex-direction: row;
                    }
            /* Fin Images */

            /* Texte de droite */
                /* classe de la div pour l'image et le texte */
                    .droiteGDiesel{
                        padding-top: 10%;
                        padding-left: 13%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteGDiesel a{
                        color: black;
                    }
            /* Fin Texte de droite */

            /* Description */
                /* classe de la div pour la description du produit */
                    .descriptionGDiesel{
                        border: 5px black solid;
                        padding-left: 2%;
                        padding-top: 1%;
                        width: 61%;
                        height: auto;
                        margin: 5% auto;
                    }
                /* classe de la div de la description du produit en ciblant le paragraphe */
                    .descriptionGDiesel p{
                        font-size: 24px;
                    }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Loco Diesel */

    /* Page Produit Locomotive Electrique */
        /* Taille HO Elec */
            /* Image */
                /* Id Image ElecTailleHOVue1 */
                    #LocoElecTailleHOVue1{
                        width: 35%;
                        height: auto;
                    }
                    .LocoElecTailleHO{
                        display: flex;
                        flex-direction: row;
                    }
            /* Fin Images */

            /* Description */
                .descriptionHOElec{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 7% auto;
                }
                .descriptionHOElec p{
                    font-size: 24px;
                }
            /* Fin Description */

            /* Texte de droite */
                /* classe de la div pour l'image et le texte */
                    .droiteHOElec{
                        padding-top: 10%;
                        padding-left: 12%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteHOElec a{
                        color: black;
                    }
            /* Fin Texte de droite */
        /* Fin Taille HO */

        /* Taille Z LocoElec */
            /* Images */
                /* Id Image LocoElecTailleZVue1 */
                    #LocoElecTailleZVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoElecTailleZVue2 */
                    #LocoElecTailleZVue2{
                        width: 40%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionZElec{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 64%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionZElec p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille Z */
        
        /* Taille N LocoElec */
            /* Images */
                /* Id Image LocoElecTailleNVue1 */
                    #LocoElecTailleNVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image LocoElecTailleNVue2 */
                    #LocoElecTailleNVue2{
                        width: 45%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionNElec{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 70%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionNElec p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille N */
    
        /* Taille G LocoElec */
            /* Images */
                .LocoElecTailleG{
                    display: flex;
                    flex-direction: row;
                }
                /* Id Image LocoElecTailleGVue1 */
                    #LocoElecTailleGVue1{
                        width: 35%;
                        height: auto;
                        padding-left: 25px;
                    }
            /* Fin Images */

            /* Texte de droite */
                /* classe de la div pour l'image et le texte */
                    .droiteGElec{
                        padding-top: 10%;
                        padding-left: 12%;
                        font-size: 24px;
                    }
                /* classe pour le lien */
                    .droiteGElec a{
                        color: black;
                    }
            /* Fin Texte de droite */

            /* Description */
                /* classe de la div pour la description du produit */
                    .descriptionGElec{
                        border: 5px black solid;
                        padding-left: 2%;
                        padding-top: 1%;
                        width: 75%;
                        height: auto;
                        margin: 7% auto;
                    }
                /* classe de la div de la description du produit en ciblant le paragraphe */
                    .descriptionGElec p{
                        font-size: 24px;
                    }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Loco Elec */

    /* CSS Generale  */
        /* Texte de droite */
            /* Lien de la classe droite */
                .droite a{
                    color: black;
                }
            /* classe droite */
                .droite{
                    padding-left: 50%;
                    font-size: 24px;
                }
        /* Fin Texte de droite */
   /* Fin CSS Generale */
/* Fin Page Produits Locomotives */