/* Pages Produits Wagons Fret  */
    /* Titre de la page */
        .titre{
            display: flex;
            flex-direction: row;
        }
        .titre a{
            padding-right: 23%;
            padding-left: 3%;
            padding-top: 1%;
            color: black;
            text-decoration: none;
        }
        h1{
            text-decoration: underline;
            padding-top: 2%;
        }
    /* Fin Titre de la page */

    /* Paragraphe a droite de l'image */
        .droite a{
            color: black;
        }
        /* classe droite */
        .droite{
            padding-left: 50%;
            font-size: 24px;
        }
    /* Fin Paragraphe a droite de l'image */

    /* Description*/
        .description{
            border: 5px black solid;
            padding-left: 20px;
            padding-top: 10px;
            width: 86%;
            height: 135px;
            margin: 50px auto;
        }
        /* paragraphe de la classe description */
        .description p{
            font-size: 24px;
        }
        /* titre de la description */
            .titre_description{
                text-decoration: underline;
            }
    /* Fin Description */

    /* Page Produit Wagon Couvert */
        /* Taille HO */
            /* Images */
                /* Vue1 */
                    #CouvertTailleHOVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Vue2 */
                    #CouvertTailleHOVue2{
                        width: 30%;
                        height: auto;
                    }
                /* Vue3 */
                    #CouvertTailleHOVue3{
                        width: 20%;
                        height: auto;
                    }
                /* Vue4 */
                    #CouvertTailleHOVue4{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionCouvertHO{
                    border: 5px black solid;
                    padding-left: 3%;
                    padding-top: 1%;
                    width: 86%;
                    height: auto;
                    margin: 6% auto;
                }
                /* paragraphe de la classe description Wagon couvert TailleHO */
                    .descriptionCouvertHO p{
                        font-size: 24px;
                    }
            /* Fin Description */
        /* Fin Taille HO */

        /* Taille Z */
            /* Images */
                /* Id Image CouvertTailleZVue1 */
                    #CouvertTailleZVue1{
                        width: 20%;
                        height: auto;
                    }
                /* Id Image CouvertTailleZVue2 */
                    #CouvertTailleZVue2{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image CouvertTailleZVue3 */
                    #CouvertTailleZVue3{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image CouvertTailleZVue4 */
                    #CouvertTailleZVue4{
                        width: 45%;
                        height: auto;
                    }
            /* Fin Images */
        /* Fin Taille Z */

        /* Taille N */
            /* Images */
                /* Id Image CouvertTailleNVue1 */
                    #CouvertTailleNVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image CouvertTailleNVue2 */
                    #CouvertTailleNVue2{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image CouvertTailleNVue3 */
                    #CouvertTailleNVue3{
                        width: 45%;
                        height: auto;
                    }
                /* Id Image CouvertTailleNVue4 */
                    #CouvertTailleNVue4{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionNCouvert{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionNCouvert p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille N */

        /* Taille G */
            /* Images */
                /* Id Image CouvertTailleGVue1 */
                    #CouvertTailleGVue1{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image CouvertTailleGVue2 */
                    #CouvertTailleGVue2{
                        width: 45%;
                        height: auto;
                    }
                /* Id Image CouvertTailleGVue3 */
                    #CouvertTailleGVue3{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionGCouvert{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 3% auto;
                }
                .descriptionGCouvert p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Page Produit Fret Couvert */

    /* Page Produit Wagon Rebords */
        /* Taille HO */
            /* Images */
                /* Id Image RebordTailleHOVue1 */
                    #RebordTailleHOVue1{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image ConteneurTailleHOVue2 */
                    #RebordTailleHOVue2{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image RebordTailleHOVue3 */
                    #RebordTailleHOVue3{
                        width: 45%;
                        height: auto;
                    }
                /* Id Image ConteneurTailleHOVue4 */
                    #RebordTailleHOVue4{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image ConteneurTailleHOVue5 */
                    #RebordTailleHOVue5{
                        width: 25%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionHORebord{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 2%;
                    width: 65%;
                    height: auto;
                    margin: 3% auto;
                }
                .descriptionHORebord p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille HO */

        /* Taille Z */
            /* Images */
                /* Id Image RebordTailleZVue1 */
                    #RebordTailleZVue1{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image RebordTailleZVue2 */
                    #RebordTailleZVue2{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image RebordTailleZVue3 */
                    #RebordTailleZVue3{
                        width: 40%;
                        height: auto;
                    }
                /* Id Image RebordTailleZVue4 */
                    #RebordTailleZVue4{
                        width: 25%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionZRebord{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 3% auto;
                }
                .descriptionZRebord p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille Z */

        /* Taille N */
            /* Images */
                /* Id Image RebordTailleNVue1 */
                    #RebordTailleNVue1{
                        width: 25%;
                        height: auto;
                    }
                /* Id Image RebordTailleNVue2 */
                    #RebordTailleNVue2{
                        width: 60%;
                        height: auto;
                    }
                /* Id Image RebordTailleNVue3 */
                    #RebordTailleNVue3{
                        width: 25%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionNRebord{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 70%;
                    height: auto;
                    margin: 4% auto;
                }
                .descriptionNRebord p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille N */

        /* Taille G */
            
                .WagonRebordTailleG{
                    display: flex;
                    flex-direction: row;
                }
            /* Images */
                /* Id Image RebordTailleGVue1 */
                    #RebordTailleGVue1{
                        width: 35%;
                        height: auto;
                        padding-left: 5%;
                    }
            /* Fin Images */

            /* Paragraphe de droite */
                .droiteGRebord{
                    padding-top: 6%;
                    padding-left: 5%;
                    font-size: 24px;
                }
                /* classe pour le lien */
                    .droiteGRebord a{
                        color: black;
                    }
            /* Fin Paragraphe de droite */

            /* Description */
                .descriptionGRebord{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 42%;
                    height: auto;
                    margin: 7% auto;
                }
                .descriptionGRebord p{
                        font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Wagons de Fret Rebords */

    /* Wagon Bachés */
        /* Taille HO */
            /* Images */
                /* Id Image BacheTailleHOVue1 */
                    #BacheTailleHOVue1{
                        width: 25%;
                        height: auto;
                    }
                /* Id Image BacheTailleHOVue2 */
                    #BacheTailleHOVue2{
                        width: 45%;
                        height: auto;
                    }
                /* Id Image BacheTailleHOVue3 */
                    #BacheTailleHOVue3{
                        width: 30%;
                        height: auto;
                    }
                /* Id Image BacheTailleHOVue4 */
                    #BacheTailleHOVue4{
                        width: 25%;
                        height: auto;
                    }
                /* Id Image ConBacheTailleHOVue5 */
                    #BacheTailleHOVue5{
                        width: 20%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */  
                .descriptionHOBache{
                    border: 5px black solid;
                    padding-left: 1%;
                    padding-top: 1%;
                    width: 70%;
                    height: auto;
                    margin: 6% auto;
                }
                .descriptionHOBache p{
                font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille HO */

        /* Taille Z */
            /* Images */
                /* Id Image BacheTailleZVue1 */
                    #BacheTailleZVue1{
                        width: 25%;
                        height: auto;
                    }
            /* Fin Images */

            /* Description */
                .descriptionZBache{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 60%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionZBache p{
                    font-size: 24px;
                }
            /* Fin Description */

            /* Paragraphe de Droite */
                .droiteZBache{
                    padding-top: 10%;
                    padding-left: 15%;
                    font-size: 24px;
                }
                /* classe pour le lien */
                .droiteZBache a{
                    color: black;
                }
            /* Fin Paragraphe de Droite */

            /* Div Image */
                .WagonBacheTailleZ{
                    display: flex;
                    flex-direction: row;
                }
            /* Fin Div Image */
        /* Fin Taille Z */

        /* Taille N */
            /* Image */
                /* Id Image BacheTailleNVue1 */
                    #BacheTailleNVue1{
                        width: 30%;
                        height: auto;
                    }
            /* Fin Image */

            /* Description */
                .descriptionNBache{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 70%;
                    height: auto;
                    margin: 7% auto;
                }
                .descriptionNBache p{
                    font-size: 24px;
                }
            /* Fin Description */

            /* Div Image */
                .WagonBacheTailleN{
                    display: flex;
                    flex-direction: row;
                }   
            /* Fin Div Image */

            /* Texte a droite de l'image */
                .droiteNBache{
                    padding-top: 6%;
                    padding-left: 10%;
                    font-size: 24px;
                }   
                /* Lien du texte a droite de l'image */
                .droiteNBache a{
                    color: black;
                }   
            /* Fin texte a droite de l'image */
        /* Fin Taille N */

        /* Taille G Bache */
            .WagonBacheTailleG{
                display: flex;
                flex-direction: row;
            }
            /* Image */
                /* Id Image BacheTailleGVue1 */
                    #BacheTailleGVue1{
                        width: 35%;
                        height: auto;
                        padding-left: 5%;
                    }
                    #BacheTailleGVue2{
                        width: 35%;
                        height: auto;
                        padding-left: 3%;
                    }
            /* Fin Image */

            /* Texte a droite de l'image */
                .droiteGBache{
                    padding-top: 106px;
                    padding-left: 106px;
                    font-size: 24px;
                }
                /* classe pour le lien */
                    .droiteGBache a{
                        color: black;
                    }
            /* Fin Texte a droite de l'image */

            /* Description */
                .descriptionGBache{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 3% auto;
                }
                /* paragraphe de la description */
                .descriptionGBache p{
                    font-size: 24px;
                }
            /* Fin Description */
        /* Fin Taille G */
    /* Fin Wagon Baches */
/* Fin Page Produits Wagons Fret */