/* Page Nouveautés */
    /* Titre de la page */
        .titre{
            display: flex;
            flex-direction: row;
        }
        .titre a{
            padding-right: 300px;
            padding-left: 40px;
            padding-top: 10px;
            color: black;
            text-decoration: none;
        }
        h1{
            text-decoration: underline;
            padding-top: 10px;
        }
    /* Fin Titre de la page */

    /* Paragraphe a droite de la photo */
        .droite a{
            color: black;
        }
        /* classe droite */
        .droite{
            padding-left: 15%;
            font-size: 24px;
            padding-top: 2%;
        }
    /* Fin Paragraphe a droite de la photo */

    /* titre de la description */
        .titre_description{
            text-decoration: underline;
        }
    /* Fin Titre Nouveautés */

    /* Nouveau Fret Taille N */
        #NouveauFretTailleNVue1{
            width: 40%;
            height: auto;
            padding-left: 5%;
            padding-top: 2%;
        }
            /* Description */
                .descriptionNNouveauFret{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionNNouveauFret p{
                    font-size: 24px;
                }
            /* Fin Description */
        .NouveauFretTailleN{
            display: flex;
        }
    /* Fin Fret Taille N */

    /* Nouvelle Voiture de Voyageurs Taille HO */
        #NouveauVoitureVoyTailleHOVue1{
            width: 30%;
            height: auto;
            padding-left: 5%;
            padding-top: 2%;
        }
            /* Description */
                .descriptionHONouveauVoitureVoy{
                    border: 5px black solid;
                    padding-left: 2%;
                    padding-top: 1%;
                    width: 65%;
                    height: auto;
                    margin: 5% auto;
                }
                .descriptionHONouveauVoitureVoy p{
                    font-size: 24px;
                }
            /* Fin Description */
        .NouveauVoitureVoyTailleHO{
            display: flex;
        }
    /* Fin Nouvelle Voitures Voyageurs Taille HO */
/* Fin Page Nouveautés */