/* Style commun a toutes les pages produits */
.titre{
display: flex;
flex-direction: row;
}
.titre a{
padding-right: 23%;
padding-left: 3%;
padding-top: 1%;
color: black;
text-decoration: none;
}
h1{
text-decoration: underline;
padding-top: 2%;
}
.titre_description{
text-decoration: underline;
}
/* Fin Style commun */
/* Concerne Les pages Produits Les Voies */
.droiteGVoies a,
.droiteNVoies a,
.droiteZVoies a,
.droiteHOVoies a{
color: black;
}

.droiteGVoies,
.droiteNVoies,
.droiteZVoies,
.droiteHOVoies{
padding-left: 50%;
font-size: 24px;
}

.descriptionGVoies{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 86%;
height: 135px;
margin: 50px auto;
}
.descriptionHOVoies,
.descriptionNVoies{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 86%;
    height: 100px;
    margin: 125px auto;
}

.descriptionZVoies{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 86%;
    height: 100px;
    margin: 145px auto;
}

.descriptionGVoies p,
.descriptionNVoies p,
.descriptionZVoies p,
.descriptionHOVoies p{
font-size: 24px;
}


/* Images */
#VoiesTailleGVue1,
#VoiesTailleHOVue1,
#VoiesTailleNVue1{
width: 30%;
}

#VoiesTailleZVue1{
width: 40%;
}

