/* Style commun a toutes les pages produits */
.titre{
display: flex;
flex-direction: row;
}
.titre a{
padding-right: 23%;
padding-left: 3%;
padding-top: 1%;
color: black;
text-decoration: none;
}
h1{
text-decoration: underline;
padding-top: 2%;
}
.titre_description{
text-decoration: underline;
}
/* Fin Style commun */

/* Concerne Les pages Produits Automotrices*/
.droiteGAutorails a,
.droiteNAutorails a,
.droiteHOAutorails a{
color: black;
}

.droiteGAutorails,
.droiteNAutorails,
.droiteHOAutorails{
padding-left: 50%;
font-size: 24px;
}


.descriptionHOAutorails{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 86%;
height: 135px;
margin: 50px auto;
}

.descriptionGAutorails{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 86%;
height: 135px;
margin: 150px auto;
}

.descriptionNAutorails{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 86%;
height: 135px;
margin: 160px auto;
}
.descriptionGAutorails p,
.descriptionNAutorails p,
.descriptionHOAutorails p{
font-size: 24px;
}


/* Concerne Les pages Produits Locomotives TGV */
.droiteGTGV a,
.droiteNTGV a,
.droiteZTGV a,
.droiteHOTGV a{
color: black;
}

.droiteGTGV,
.droiteNTGV,
.droiteZTGV,
.droiteHOTGV{
padding-left: 50%;
font-size: 24px;
}

.descriptionZTGV,
.descriptionNTGV,
.descriptionGTGV{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 90%;
height: 165px;
margin: 90px auto;
}

.descriptionHOTGV{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 90%;
height: 165px;
margin: 95px auto;
}


.descriptionGTGV p,
.descriptionNTGV p,
.descriptionZTGV p,
.descriptionHOTGV p{
font-size: 24px;
}

/* Loco Couvert */
.droiteGCouvert a,
.droiteNCouvert a,
.droiteZCouvert a,
.droiteHOCouvert a{
color: black;
}
/* classe droite */
.droiteGCouvert,
.droiteNCouvert,
.droiteZCouvert,
.droiteHOCouvert{
padding-left: 50%;
font-size: 24px;
}

.descriptionGCouvert{
border: 5px black solid;
padding-left: 20px;
padding-top: 10px;
width: 86%;
height: 165px;
margin: 50px auto;
}

.descriptionNCouvert,
.descriptionHOCouvert{
    border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 86%;
    height: 170px;
    margin: 50px auto;
}
.descriptionZCouvert{
        border: 5px black solid;
    padding-left: 20px;
    padding-top: 10px;
    width: 86%;
    height: 200px;
    margin: 50px auto;
}
.descriptionGCouvert p,
.descriptionNCouvert p,
.descriptionZCouvert p,
.descriptionHOCouvert p{
font-size: 24px;
}


/* Image seule */
/* Autorails */
#AutorailsTailleGVue1{
width: 50%;
}

/* Carrousel */
/* Image Autorails pour carrousel */
#AutorailsTailleHOVue1,
#AutorailsTailleHOVue2{
width: 100%;
}

/* Image Wagon de Fret à TGV pour carrousel */
#WagonFretTGVTailleNVue1,
#WagonFretTGVTailleNVue2{
width: 80%;
}
#TGVTailleHOVue1,
#TGVTailleHOVue2,
#TGVTailleHOVue3{
width: 100%;
}





main{
width: 50%;
/* margin: auto; */
position: relative;
}

#carrousel{
border: 5px solid black;

display: grid;
grid-auto-flow: column;
grid-auto-columns: 100%;
gap: 2rem;
overflow-x: auto;

scrollbar-color: transparent transparent;
padding: 1rem;
padding-bottom: 0;
scroll-snap-type: x mandatory;

@media (prefers-reduced-motion: no-preference){
scroll-behavior: smooth;
}

scroll-marker-group:after;

&::scroll-marker-group{
display: flex;
justify-content: center;
gap: 0.5rem;
padding: 0.5rem;
}

figure{
margin: 0;
scroll-snap-align: center;
position: relative;
&::scroll-marker{
content: " ";
border: 2px solid black;
width: 20px;
height: 20px;
border-radius: 50%;
}
&::scroll-marker:target-current{
background-color: grey;
}

}
&::scroll-button(*){
background-color: rgba(255, 255, 255, 0.7);
position: absolute;
top: 50%;
transform: translateY(-50%);
border: none;
font-size: 2rem;
width: 2rem;
height: 2rem;
border-radius: 50%;

}
&::scroll-button(right){
content: ">";
right: 20px;
}
&::scroll-button(left){
content: "<";
left: 20px;
}

}