/* Page Les Tailles */
    /* Titre de la page */
        h1{
            text-align: center;
            padding-bottom: 2%;
            padding-top: 2%;
            text-decoration: underline;
        }
    /* Fin Titre de la page */

    /* Titre des paragraphes */
        h2{
            text-decoration: underline;
            padding: 1% 0% 1% 0%;     /* dans l'ordre haut droite bas gauche */
            font-size: 32px;
        }
    /* Fin Titre des Paragraphe */

    /* Paragraphes */
        .taille{
            text-align: center;
        }
        .TailleN{
            padding-bottom: 25px;
        }
        .TailleHO{
            padding-bottom: 20px;
        }
        .TailleG{
            padding-bottom: 20px;
        }
        .TailleZ{
            padding-bottom: 20px;
        }
        p{
            font-size: 24px;
        }
    /* Fin Paragraphes */
/* Fin Page Tailles */