/* Page Wagon Bache */
    /* Titre de la Page */
        h1{
            text-align: center;
            text-decoration: underline;
            padding: 3% 0% 3% 0%;
        }
    /* Fin Titre de la page */

    /* Wagon Bache Haut */
        /* classe des 2 images en haut de la page */
            .WagonsBacheHaut{
                display: flex;
                flex-direction: row;
                text-align: center;
                padding-bottom: 7%;
                padding-top: 2%;
            }
        /* Taille HO */
            /* Id image wagonBacheTailleHO */
            #WagonBacheTailleHO{
                width: 60%;
                height: auto;
            }
            /* Classe WagonBacheTailleHO */
            .WagonBacheTailleHO{
                padding-left: 5%;
                padding-right: 20%;
            }
        /* Fin Taille HO */

        /* Taille Z */
            /* Id image wagonBacheTailleZ*/
            #WagonBacheTailleZ{
                width: 55%;
                height: auto;
            }
        /* Fin Taille Z */
    /* Fin Wagon Bache Haut */

    /* Wagon Bache Bas */
        /* classe des 3 images en Bas de la page */
        .WagonsBacheBas{
            display: flex;
            flex-direction: row;
            text-align: center;
            padding-bottom: 5%;
        }
        /* Taille N */
            /* Id image wagonBacheTailleN */
            #WagonBacheTailleN{
                width: 65%;
                height: auto;
            }
            /* Classe WagonBacheTailleN*/
            .WagonBacheTailleN{
                padding-left: 13%;
                padding-right: 20%;
            }
        /* Fin Taille N */

        /* Taille G */
            /* Id image wagonBacheTailleG*/
            #WagonBacheTailleG{
                width: 60%;
                height: auto;
            }
        /* Fin Taille G */
    /* Fin Wagon Bache Bas */
/* Fin Page Wagons Bache */