{% extends 'base.html.twig' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('CSS/Taille.css') }}">
    <title>Tailles existantes</title>
</head>
<body>

<h1>Les Tailles existantes</h1>
<div class="taille">
    <div class="TailleHO">
        <h2>Taille HO</h2>
        <p>L'échelle HO (ou échelle H0 suivant les publications) est l'échelle de réduction <br>
         en modélisme ferroviaire correspondant au 1:87 en Europe et au 1:87,1 en Amérique du Nord. <br>
         Il s'agit de l'échelle la plus utilisée dans le monde. Elle dérive de l'« échelle O » (écrite O pour dire zéro), <br>
         puisqu'elle signifie Half-O (demi-0).La reproduction de la voie normale à l'échelle HO est normalisée à un écartement réduit de 16,5 mm. <br>
        L’échelle HO étant la plus utilisée, c’est elle que l’ont vas voir le plus souvent dans les sites et les boutiques de modelisme.</p>
    </div>
    <div class="TailleG">
        <h2>Taille G</h2>
        <p>Échelle G ou jauge G , également appelée grande échelle ( 45 mm), <br>
        est un écartement de voie pour trains miniatures qui est souvent utilisé <br>
        pour les chemins de fer de jardin extérieurs en raison de sa taille et de sa durabilité. <br>
        Les trains à l'échelle G utilisent un écartement de voie fixe de 45 millimètres. <br>
        Le LGB à l'échelle G ( Lehmann Groß Bahn , « Le grand train de Lehmann ») a été introduit en 1968 par Ernst Paul Lehmann Patentwerk en Allemagne. <br>
        Les produits LGB étaient destinés à un usage intérieur et extérieur ; ainsi le « G » a été interprété comme « balance de jardin ». <br>
        La plupart des rails sont en laiton et peuvent rester à l'extérieur par tous les temps. Les rails peuvent également être obtenus en aluminium <br>
        moins cher ainsi qu'en acier inoxydable résistant à l'oxydation, bien que plus cher .
        Comme d'autres échelles, la grande échelle est parfois utilisée pour <br>
        les trains miniatures qui circulent à l'intérieur sur une voie montée contre le mur près du plafond.</p>
    </div>
    <div class="TailleZ">
        <h2>Taille Z</h2>
        <p>L’échelle Z est une échelle utilisée pour les trains miniatures. <br>
            Elle correspond à une échelle de 1:220, ce qui fait un écartement des rails de 6,5 mm <br>
            pour l'écartement standard. C'est une des plus petites échelles utilisées. <br>
            Elle a été mise sur le marché en 1972 par la société allemande Märklin. <br>
            Les marques AZL (USA), Rokuhan (Japon) et Micro-Trains Line (USA) fabriquent <br>
            à présent également du matériel ferroviaire à cette échelle. <br>
            En France, Azar Models fabrique du matériel roulant Français et Européen à l'échelle Z.</p>
    </div>
    <div class="TailleN">
        <h2>Taille N</h2>
        <p>L'échelle N est l'échelle en modélisme ferroviaire 1:160. <br>
        La reproduction de la voie normale à l'échelle N est normalisée à un écartement réduit de 9 mm. <br>
        Son nom vient de l'initiale du nombre de millimètres d'écartement des rails d'une voie normale : neuf. <br>
        L'initiale est la même dans de nombreuses langues : nine en anglais, neun en allemand. <br>
        Cette échelle a été popularisée par l'entreprise Arnold en 1962. Elle est très utilisée aux États-Unis et au Japon. <br>
        Mais au Japon l'échelle N est au 1:150. <br>
        Au Japon la reproduction de la voie normale et de l'écartement du Cap à l'échelle N est normalisée à un écartement réduit de 9 mm pour les deux. <br>
        L'échelle N est la moitié de l'échelle HO, précisément 54% de son ratio. <br>
        Le volume occupé par un même modèle réduit en N est de 1⁄8 de celui du HO.</p>
    </div>
</div>



</body>
</html>
{% endblock %}