{% extends 'base.html.twig' %}

{% block title %}Ajout utilisateur{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('CSS/AjoutUserAdmin.css') }}">
    <h1>Ajouter un nouvel Utilisateur</h1>

    {{ include('administrateur/GestionUtilisateurs/FormAjoutUtilisateur.html.twig') }}
<div class="Retour">
    <a href="{{ path('Administrateur_ListeUtilisateurs') }}">Revenir a la liste des Utilisateurs</a>
</div>
{% endblock %}
