{{ form_start(FormAjout) }}
    {{ form_widget(FormAjout) }}
    <div class="ajouter">
    <button class="btn_ajout">{{ button_label|default('Ajouter') }}</button>
    </div>
{{ form_end(FormAjout) }}
